*{
    background-color: aquamarine;
    margin: 0%;  
}

.heading{
    background-color: yellowgreen;
    font-size: 80px;
    text-align: center;
    margin: 10px;
    padding: 1px;
}

#image{
    display: block;
    margin: auto;
}

.heading.two{
    background-color: yellow;
    font-size: 40px;
}

.list{
    width: 200px;
    height: auto;
    margin: 20px;
   
}

.list .one{
    margin: 10px;
}

#l{
    display: flex;
    justify-content: space-between;
}
