*{
    background-color: aquamarine;
    margin: 0%;  
}

.heading{
    background-color: yellowgreen;
    font-size: 80px;
    text-align: center;
    margin: 10px;
    padding: 1px;
}

#image{
    display: block;
    margin: auto;
}

.heading.two{
    background-color: yellow;
    font-size: 40px;
}

.list{
    text-align: left;
    width: 200px;
    height: auto;
    margin: 20px;
}

.list .one{
    margin: 10px;
}

#l{
    display: flex;
}

.list.two{
    margin-inline-start: 460px;
}

.list.three{
    margin-inline-start: 450px;
}
